.nav{
    position: fixed;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
    background-color: #f9f9fa;
    padding: 20px 50px;
    border-top: 1px solid rgba(121, 121, 121, 0.345);
}
.nav__ul{
    display: flex;
    justify-content: space-between;
}
.nav__link{
    color: #2e363e;
    position: relative;
}
.nav__btn{
    border: none;
    background-color: #f9f9fa;
}
.nav__notification{
    position: absolute;
    left: 16px;
    bottom: 16px;
    animation: notificationAnimation 2s ease-in-out infinite;
}
.nav__dot{
    position: absolute;
    left : 25px;
    bottom: 27px;
}
@keyframes notificationAnimation{
    0%{
        transform: none;
    }
    50%{
        transform: translateY(-5px) rotateY(180deg);
    }
    100%{
        transform: none;
    }
}
@keyframes appearBtnAnimation{
    from{
        transform: translateY(80px);
    }
    to{
        opacity: 1;
        transform: none;
    }
}
.nav__btn{
    transform: translateY(80px);
    opacity: 0;
    animation: appearBtnAnimation 2s ease-in-out forwards;
}
li:nth-child(2) .nav__btn{
    animation-delay: 0.5s;
}
li:nth-child(3) .nav__btn{
    animation-delay: 1s;
}
li:last-child .nav__btn{
    animation-delay: 1.5s;
}
